.image-preview__wrapper{
    display: inline-block;
    overflow: hidden;
    position: relative;
    min-width: 100px;
    min-height: 100px;
}

.image-preview__file{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 1000%;
    height: 1000%;
    cursor: pointer;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.image-preview__remove{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    background-color: transparent;
    -webkit-box-shadow: 0 0;
    -moz-box-shadow: 0 0;
    -ms-box-shadow: 0 0;
    -o-box-shadow: 0 0;
    box-shadow: 0 0;
    padding: 0;

    border: none;
    font-size: 40px;
    line-height: 40px;
    width: 40px;

    text-align: center;
    color: #000;
    font-weight: lighter;
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}

.image-preview__image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}